@import "tailwindcss";

@theme {

  /* COLORS */
  --color-primary: #00A76F  ;
  --color-accent: #D6F1E8  ;
--color-background:#F8FAFC;
--color-text:#0F172A;
--color-success:#22C55E;
--color-danger: #EF4444;
--color-heading:#1C252E;
/* FONTS */
}
